wifi_ssid: "your_ssid"
wifi_password: "your_wifi_password"
wifi_hotspot_password: "12345678"
ota_password: ""
api_encryption_key: "FdutnMg4dyArfkuNcvnaORDGZoYFlMSVd/mgcirJXck=" # get a random key from https://esphome.io/components/api.html#configuration-variables and copy here
